<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimalotaku.paraguide"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application

        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:uiOptions="splitActionBarWhenNarrow"
        android:theme="@style/Theme.AppCompat">


        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".DeckView"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".HeroView"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".PlayerView"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".CardOfTheDayView"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".newsView"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".HeroDisplayPrototype"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".SkillDisplay"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".CardDisplay"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailDeckView" />
    </application>

</manifest>