<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimalotaku.paraguide"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:uiOptions="splitActionBarWhenNarrow"
        android:theme="@style/Theme.MyParaTheme"
        android:name="android.support.multidex.MultiDexApplication"
        >




        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".TokenManager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".HeroView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".PlayerView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".CardOfTheDayView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".newsView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".HeroDisplayPrototype"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".SkillDisplay"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".CardDisplay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".MyDecks"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"
            >
        </activity>
        <activity android:name=".Cards"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"
            >
        </activity>
        <activity android:name=".NewPlayerDisplay"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AccountSearch"
            android:screenOrientation="portrait"
            android:fillViewport="true"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".PAChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".PALoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailDeckView" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>